.workout-card {
    background-color: #1C1C1C;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    color: #B3B3B3;
}

.new-exercise input {
    margin-right: 5px;
    width: 100px;
}

.new-workout input {
    margin-right: 5px;
    width: 200px;
}

.btn-neon {
    background-color: #39FF14;
    color: #0D0D0D;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn-neon:hover {
    background-color: #2ECC0C;
}
